/* Your Styling */
header {
	background:red;
}
/*App*/
article section:nth-child(1) {
	background: green;
}

/*ent*/
article section:nth-child(2) {
	background: blue;
}

/*dessert*/
article section:nth-child(3) {
	background: purple;
}


/*drinks*/
article section:nth-child(4) {
	background: cornflowerblue;
}
footer section:nth-child(1){
	background: gold;
}
footer section:nth-child(2){
	background: yellow;
}
